@media screen and (min-width: 480px) and (max-width: 767px) {
    .slide-item span.color-red {
        display: none;
    }
}

@media screen and (min-width: 0px) and (max-width: 479px) {
    .slider-main-container {
        display: none;
    }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
    .navbar-nav {
        margin: 0px -15px;
    }

    .navbar-nav > li {
        border-right: none;
    }

    .container.header-index {
        display: none;
    }

    .navbar-header {
        background-color: #ffffff;
        border-bottom: 1px solid #639898;
        height: 55px;
    }

    .navbar-nav > li {
        width: auto;
        text-align: left;
        border-bottom: 1px solid #ffffff;
    }

    .logo-mobile {
        display: block;
    }

    .footer-address-container {
        text-align: left;
    }

    .footer-social-container .pull-right {
        float: left !important;
        margin-right: 20px;
    }

    .footer-social-container .pull-right .pull-left {
        margin-left: 0px;
        margin-right: 6px;
    }

    .thumbnail .caption p.item-description {
        height: auto;
    }

    img.content-image.pull-right {
        width: 100%;
        margin-bottom: 20px;
    }

    .price-index-container strong {
        margin-bottom: 10px;
        display: block;
    }

    .category-list-index {
        margin-top: 10px;
        border-top: 1px solid #438fe3;
    }

    .caption.item-list-index {
        height: auto !important;
    }

    .dl-horizontal.product-description dd {
        margin-bottom: 25px;
        margin-top: -30px;
    }

}

@media screen and (min-width: 768px) and (max-width: 991px) {

    .header-contacts-container p, .header-address-container p {
        margin: 0px 0px 4px;
    }

    .header-address-container p {
        line-height: 170%;
    }

    .header-shopping-cart {
        margin-top: 5px !important;
    }

    .header-contacts-container p:last-child {
        margin-top: 12px;
    }

    .carousel-caption {
        top: 10%;
    }

    .carousel-caption h1 {
        font-size: 36px;
        margin-top: 11%;
    }

    .carousel-caption h3 {
        font-size: 22px;
        margin-top: 4%;
    }

    .gallery-item img {
        height: 230px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .carousel-caption h1 {
        font-size: 36px;
        margin-top: 8%;
    }

    .caption.item-list-index {
        height: 194px !important;
    }

    .gallery-item img {
        height: 141px;
    }
}

@media screen and (min-width: 768px) and (max-width: 4000px) {
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        padding-left: 0px !important;
    }
}

@media screen and (min-width: 1200px) and (max-width: 4000px) {
    .gallery-item img {
        height: 175px;
    }
}