html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Open Sans', Myriad Pro, Verdana, Arial, Tahoma, sans-serif;
    font-size: 13px;
    font-weight: lighter;
    font-style: normal;
    background-color: #f7f7f7;
    color: #000000;
    margin-bottom: 220px;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-light-webfont.woff') format('woff'), url('../fonts/opensans-light-webfont.ttf') format('truetype'), url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-bold-webfont.woff') format('woff'), url('../fonts/opensans-bold-webfont.ttf') format('truetype'), url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

a {
    color: royalblue;
    outline: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
    outline: none;
}

h1 {
    font-size: 22px;
    font-weight: bold;
    margin: 5px 0px 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

/* Page loader */

.page-loader {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fefefe;
    z-index: 100000;
}

.loader {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    font-size: 10px;
    text-indent: -12345px;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    border-right: 1px solid rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    border-left: 1px solid rgba(0, 0, 0, 0.5);

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-animation: spinner 700ms infinite linear;
    -moz-animation: spinner 700ms infinite linear;
    -ms-animation: spinner 700ms infinite linear;
    -o-animation: spinner 700ms infinite linear;
    animation: spinner 700ms infinite linear;

    z-index: 100001;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Colors */
.color-red {
    color: #E2001A;
}

.color-white {
    color: #ffffff;
}

.color-pink {
    color: #FF8080;
}

.color-orange {
    color: orange;
}

/* Text styles */
.text-default {
    text-decoration: none;
}

.text-underline {
    text-decoration: underline;
}

a.color-white:hover {
    color: #ffffff;
}

/* Header */

.header-layout {
}

.header-top-bar-container {
    background-color: #e7e7e7;
    color: #000000;
}

.header-top-bar-container .list-inline {
    margin-top: 5px;
    margin-bottom: 0px;
}

.header-top-bar-container .list-inline li a {
    color: #000;
    padding-left: 5px;
    padding-right: 5px;
}

.header-top-bar-container .list-inline li:last-child a {
    border-right: none;
}

.header-top-bar-container .list-inline li a span {
    display: inline-block;
    float: left;
    line-height: 120%;
}

.header-top-bar-container .btn {
    color: #000000;
}

.header-basket-header {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #000000;
}

.header-top-bar-container .btn-sm {
    padding: 3px 10px;
}

.header-index {
    padding-top: 15px;
    padding-bottom: 5px;
    background-color: #ffffff;
}

.header-top-bar-container .list-inline li a:hover span {
    border-bottom: 1px solid #000000;
}

a.header-logo {
    display: block;
}

.header-address-container h3 {
    font-size: 14px;
}

.header-layout p a {
    color: #000000;
}

.navbar-brand {
    height: 40px;
}

.header-contacts-container p, .header-address-container p {
    margin: 0px 0px 8px;
}

.header-contacts-container p i, .header-address-container p i {
    font-size: 16px;
    color: #4b6b6c;
    width: 24px;
}

.header-contacts-container p.phone-number {
    padding-left: 0px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-contacts-container p.phone-number i {
    font-size: 18px;
    margin-right: 0px;
}

a.header-call-skype i.fa-skype {
    color: #00b2f7;
    font-size: 22px;
    float: left;
    margin-right: 8px;
}

a.header-order-call {
    font-size: 12px;
    text-decoration: none;
}

a.delivery-question i {
    margin-right: 6px;
}

i.header-cart {
    font-size: 24px;
    margin-right: 10px;
    color: #4c6b6c;

}

.header-cart-index {
    display: block;
    line-height: 200%;
    color: #000000;
}

.header-shopping-cart span {
    color: #ff0000;
    font-weight: bold;
}

.header-banner-container {
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #4D6D71;
}

.pagination > li > a, .pagination > li > span {
    font-weight: bold;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    background-color: #efbb44;

}

.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
    border-radius: 0px
}

/* Navigation */

.navbar-default .navbar-nav > li > a:hover {
    background-color: #efbb44;
}

.navbar-default .navbar-nav > li > a:focus {
    background-color: #eb9316;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: #dde7de;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar {
    border-radius: 0px;
    min-height: 40px;
    border: none;
    margin-bottom: 0px;
}

.nav.navbar-nav {
    font-family: 'Lucida Console', Helvetica, Arial, Tahoma, sans-serif;
}

.nav.navbar-nav li a {
    color: #000000;
}

.nav.navbar-nav li a {
    font-size: 14px;
}

.nav.navbar-nav li ul li a {
    font-size: 14px;
}

/* Цвета и шрифты на tab-panels */
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #EB9316;
    color: #000000;
}

.nav.navbar-nav li ul li a:hover, .nav.navbar-nav li ul li a:focus {
    border-bottom: 1px solid #000000;
}

.nav.navbar-nav li ul li {
    line-height: 120%;
    margin-top: 10px;
}

.nav-tabs > li > a {
    border-radius: 0px;
    font-weight: bold;
    color: #000000;
    background-color: #DDE7DE;
}

.nav-tabs > li > a:hover {
    background-color: #EFBB44;
    color: #000000;
}

/* Footer */
.footer-layout {
    position: absolute;
    bottom: 0px;
    height: 200px;
    width: 100%;
}

.footer-index {
    background-color: #4c6b6c;
    color: #ffffff;
    padding: 20px 15px 10px;
    color: #ffffff;
}

.footer-layout a.color-orange:hover {
    color: #ffffff;
}

.list-inline.footer-nav-list li {
    padding-left: 12px;
    margin-left: 17px;
    border-left: 1px solid #ffffff;
    height: 14px;
    line-height: 100%;
}

.footer-layout hr {
    display: block;
    height: 1px;
    background-color: #ffffff;
    border: none;
    margin-bottom: 10px;
}

.list-inline.footer-nav-list a {
    color: #ffffff;
    margin-left: 10px;
}

p.footer-phone {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff !important;
}

/* Content */
.thumbnail .caption h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 44px;
    overflow: hidden;
    line-height: 140%;
    font-size: 15px;
    font-weight: bold;
    text-transform: none;

}

.thumbnail .caption h2 a {
    color: royalblue;
    text-decoration: none;
}

.thumbnail .caption h3 a {
    text-decoration: underline;
}

.thumbnail a > img, .thumbnail > img {
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 10px;
}

.price-index {
    font-size: 14px;
    font-weight: bold;
    padding: 9px;
}

span.item-list-price-index {
    color: #ef0d12;
    font-weight: bold;
    font-size: 24px;
    padding-left: 5px;
}

.breadcrumb {
    background-color: transparent;
    padding-top: 0px;
}

.breadcrumb li.main-item a {
    font-weight: bold;
}

.dl-horizontal.category-items-list {
    margin-top: 30px;
    margin-bottom: 0px;
}

.dl-horizontal.category-items-list ul li {
    line-height: 200%;
}

.dl-horizontal.category-items-list ul li a {
    text-decoration: underline;
}

.send-button-container .btn {
    margin-top: 23px;
}

.row.choice-params-filter {
    margin-bottom: 30px;
}

.content-layout {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
}

.table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle;
    text-align: center;
}

table .product-table-image {
    width: 100px;
    height: auto;
}

p.google-map-container {
    height: 650px;
}

.yandex-map-container {
    height: 450px;
}

table td .input-quantity {
    margin-bottom: 10px
}

table td .input-quantity.pull-left {
    margin-bottom: 0px;
    margin-right: 10px;
}

.input-quantity {
    width: 40px;
    text-align: center;
}

table.basket-list td {
    vertical-align: middle !important;
}

.pull-left.init-index {
    margin-top: 5px;
}

img.content-image.pull-left {
    width: 200px;
    height: auto;
    margin: 0px 10px 0px 0px;
}

img.content-image.pull-right {
    width: 200px;
    height: auto;
    margin: 0px 0px 0px 10px;
}

.gallery-img-description {
    background-color: #4d6d71;
    color: #FFF;
    padding: 5px 15px 5px;
    line-height: 150%;
    height: 50px;
    display: table;
    width: 100%;
}

.gallery-img-description span {
    display: table-cell;
    vertical-align: middle;
}

.gallery-item {
    margin-bottom: 30px;
}

.gallery-item img, .gallery-item img:hover, .gallery-item img:focus, .gallery-item img:active {
    border: 1px solid #DDD;
    border-bottom: none;
}

.form-control:focus {
    box-shadow: none;
}

.tab-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.video-container {
    height: 450px;
}

.share-social {
    margin-top: 20px;
}

.price-index-container {
    border-left: 1px dashed #DDE7DE;
}

.product-card-description {
    margin-top: 30px;
    margin-bottom: 20px;
}

.price-index-container .row {
    margin-bottom: 20px;
}

.price-index-container .row:last-child {
    margin-bottom: 0px;
}

.review-container {
    margin-top: 20px;
}

.review-container .panel {
    border: none;
    box-shadow: none;
}

.review-container .panel-default > .panel-heading {
    background-color: transparent;
    border: none !important;
}

.review-container .panel-group .panel-heading + .panel-collapse > .list-group, .review-container .panel-group .panel-heading + .panel-collapse > .panel-body {
    border: none !important;
}

.review-container .panel-body {
    background-color: #f7f7f9;
    border-radius: 4px;
    margin-bottom: 20px;
    padding-bottom: 0px;
}

.carousel-main {
    margin-bottom: 20px;
}

.category-list-index {
    border: 1px solid #438fe3;
    border-top: none;
    padding: 10px 15px 0px 15px;
}

.category-list-index ul.list-inline li {
    margin-bottom: 5px;
}

.category-list-index ul.list-inline li a {
    text-decoration: underline;
    padding-right: 20px;
    display: block;
}

.navbar-header .logo-mobile {
    margin-top: 5px;
    margin-left: 15px

}

.logo-mobile {
    display: none;
    background-color: #ffffff;
    height: 43px;
    background-image: url("../img/logo-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 90px;
}

.navbar-toggle {
    border-radius: 0px;
    height: 40px;
    width: 38px;
    padding: 12px 8px;
}

.navbar-toggle {
    background-color: #4B6B6C;
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-toggle:hover {
    background-color: #EFBB44;
}

.navbar-default .navbar-toggle:focus {
    background-color: #EFBB44;
}

.navbar.navbar-top .navbar-nav > li > a {
    border-right: none;
    border-bottom: 1px solid #00b2f7;
}

.nav-bar-mobile {
    border-top: 1px solid #ffffff;
    background-color: #4D6D71;
}

.nav-bar-mobile li a {
    color: #ffffff !important;
}

.nav-bar-mobile > li > a:hover {
    background-color: #EFBB44 !important;
}

.navbar-toggle {
    margin-top: 5px;
}

.nav-bar-mobile {
    text-decoration: none;
}

.nav-bar-mobile li i {
    width: 24px;
}

.navbar-header .mobile-bar-item {
    margin-top: 5px;
    margin-right: 10px;
}

.navbar-header .mobile-bar-item {
    background-color: #C9302C;
    color: #ffffff;
    width: 38px;
    height: 40px;
    text-align: center;
    line-height: 120%;
    padding: 0px;
}

.navbar-header .mobile-bar-item strong {
    display: block;
    font-size: 11px
}

.modal-content {
    box-shadow: none;
    border-radius: 0px;
}

.navbar-header .mobile-bar-item.order-call {
    color: #000000;
    background-color: #EFBB44;
}

.navbar-header .mobile-bar-item.order-call i {
    font-size: 22px;
    margin-top: 9px;
}

.navbar-header .mobile-bar-item.order-call:hover, .navbar-header .mobile-bar-item.order-call:focus {
    color: #000000;
}

.navbar-header .mobile-bar-item i {
    font-size: 18px;
    margin-top: 4px;
}

.footer-social-container-row {
    margin-top: 10px;
}

.footer-social-container .pull-left {
    margin-left: 8px;
}

.footer-layout a.color-pink:hover {
    color: #ffffff;
}

.list-default {
    padding-left: 0px;
}

.product-card-description .list-default {
    padding-left: 15px;
}

.list-price li {
    margin-bottom: 10px;
    font-size: 15px
}

.carousel-item-description {
    font-size: 20px;
}

.carousel-caption {
    top: 20%;
}

.carousel-caption {
    right: 10%;
    left: 10%;
    padding-bottom: 30px;
}

.carousel-caption h1 {
    font-size: 42px;
    line-height: 100%;
    margin-top: 9%;
}

.carousel-caption h2 {
    font-size: 30px;
    line-height: 100%;
    text-transform: none;
}

.carousel-caption h3 {
    font-size: 24px;
    color: #FFF;
    line-height: 150%;
    margin-top: 7%;
}

.carousel-control .fa-chevron-left, .carousel-control .fa-chevron-right {
    position: absolute;
    top: 48%;
    font-size: 36px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.panel-group.panel-group-default .panel-default > .panel-heading {
    background-color: transparent !important;
    border: none;
}

.panel-group.panel-group-default .panel {
    border-radius: 0px !important;
    border: 1px solid #DDD;
}

.panel-group.panel-group-default .panel-heading {
    border-radius: 0px;
}

.panel-group.panel-group-default .panel-title {
    font-size: 14px;
    color: #4169E1;
    font-weight: bold;
}

.panel-group.panel-group-default .panel-title .fa {
    width: 20px;
}

.panel-group.panel-group-default .panel-heading + .panel-collapse > .list-group, .panel-group.panel-group-default .panel-heading + .panel-collapse > .panel-body {
    border-top: 0px;
}

.panel-group.panel-group-default .panel-title .accordion-toggle:focus {
    color: #4169E1;
}

.panel-group.panel-group-default .panel-title .accordion-toggle:focus {
    color: #23527C;
    outline: none;
    text-decoration: none;
}

.panel-group.panel-group-default .panel-body {
    padding-top: 5px;
    padding-bottom: 5px;
}

.thumbnail .caption.item-list-index {
    height: 180px;
}

.btn-group-sm > .btn, .btn-sm {
    border-radius: 0px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: #eb9316;
    color: #000000;

}

.list-unstyled li span.label {
    font-weight: normal;
    font-family: 'Lucida Console', Helvetica, Arial, Tahoma, sans-serif;
    margin-left: 5px;
    vertical-align: middle;
    padding: 0.2em 0.4em;
    border-radius: 0px;
}

.nav > li > a.dropdown-toggle {
    padding: 10px 12px 10px 15px;
}

.navbar-collapse {
}

.navbar-nav > li {
    border-right: 1px solid #F7F7F7;
}

.thumbnail {
    border-radius: 0px;
}

.modal-title {
    font-size: 16px;
    font-weight: bold;
}

.page-layout {
    background-color: #ffffff;
    margin-bottom: 30px;
}

.full-width-list h3 {
    font-weight: bold;
}

.group-header {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.sub-group-header {
    font-weight: bold;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.dl-horizontal.product-description dt {
    width: 100px;
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
}

.dl-horizontal.product-description dd {
    margin-left: 120px;
    margin-bottom: 12px;
}

.form-control {
    border-radius: 0px;
    box-shadow: none;
}

.width-60 {
    width: 60px;
}

.slide-item {
    height: 400px;
    overflow: hidden;
}

.slide-item img {
    background-position: center;
    background-size: cover;
}

.bxslider li .slide-item .content {
    width: 100%;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 50px;
    color: #FFF;
    font-size: 28px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.45);
}

.bxslider li .slide-item .content .title {
    color: #FFF;
    display: inline-block;
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 0px;
}

.bxslider li .slide-item .text {
    color: #FFF;
    font-size: 24px;
}

.bxslider li .slide-item .content .slider-description {
    color: #333300;
    font-size: x-small;
}

.pagination > li > a, .pagination > li > span {
    padding: 4px 9px;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    border-color: #efbb44;
    color: #ffffff;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    border-color: #4D6D71;
}

.panel-body .list-default {
    padding-left: 15px !important;
}

.footer-mobile-number {
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
}

.footer-mobile-number:hover, .footer-mobile-number:focus {
    color: #FFF;
}

/* Buttons */
.btn {
    border-radius: 0px;
}

.btn-group-lg > .btn, .btn-lg {
    border-radius: 0px;
}

.btn-primary {
    color: #FFF;
    background-color: #4d6d71;
    border-color: #4d6d71;
}

.btn-primary:focus, .btn-primary:hover, .btn-primary:active {
    background-color: #374d51 !important;
}

.btn-warning {
    color: #000000;
    background-color: #efbb44;
    border-color: #efbb44;
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
    color: #000000 !important;
}

.input-sm {
    border-radius: 0px;
}

/* Labels */
.label-info {
    background-color: #639898;
}
